* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.green {
    color: #469165;
}

.btn {
    max-width: 251px;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.btn-2 {
    max-width: 198px;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: #FFFFFF;

}

/* nav bar  */
nav {
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #000000;
}

nav button {
    width: 164px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

/* Banner */

#banner {
    padding-top: 16px;
    background-image: url('../media/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 675px;

}

.banner-title {
    max-width: 1370px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 0px 180px;
}

.banner-title h5 {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    max-width: 229px;
    padding: 12px 8px;
    margin: 0 auto;
    color: #469165;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    position: relative;
}

.banner-title h5::before {
    /* content: "•"; */
    content: "🟢";
}

.banner-title h1 {
    max-width: 770px;
    margin: 0 auto;
    line-height: 84px;
    font-size: 72px;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.banner-title p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-title button {
    margin-right: 16px;
}

/* structure */
#structure {
    max-width: 1370px;
    margin: 0 auto;

}

.structure-head h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.structure-head p {
    font: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}

.structure-card-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.structure-card {
    max-width: 322px;
    /* border: 1px solid red; */
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
}

.structure-card img {
    background: #F95555;
    max-width: 60px;
    border-radius: 50%;
    padding: 14px;
    display: block;
    margin: 0 auto;
}

.structure-card h4 {
    margin: 16px 0px;
    text-align: center;
    font-size: 24px;
    color: #001931;
}

.structure-card p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* section brain */
#brain {
    padding: 120px 0px;
    /* background-color: #F95555; */
}

.brain-container {
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    align-items: center;
}

.brain-image {
    max-width: 600px;
    border-radius: 12px;
}

.brain-description {
    /* border: 1px solid white; */
    padding: 100px 0px;
    max-width: 700px;
}

.brain-description h5 {
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    text-align: left;
    margin-bottom: 16px;
}

.brain-description h2 {
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 16px;
}

.brain-description p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.list-style li {
    margin-bottom: 16px;
    list-style-type: none;
    position: relative;
}

.list-style li::before {

    content: "✅";
}

/* Section ready */
#ready
{
    padding: 120px 0px;
    /* background-color: #F95555; */
}
.ready-description
{
    max-width: 1370px;
    margin: 0 auto;
    border: 2px solid white;
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
}
.ready-description h3
{
    font-size: 40px;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
.ready-description p
{
    font: 16px;
    line-height: 24px;
    color:#627382;
    text-align:center;
    margin-bottom: 24px;

}
.ready-button
{
    text-align: center;
    margin-bottom: 16px;
}

/* Footer Section */

footer
{
    background-color: #001931;
    margin-top: 120px;
}
.footer-container
{
    max-width: 1370px;
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-image
{
    max-width: 140px;
}
.social h4
{
    margin-bottom: 16px ;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: 300;
}
.social-image 
{
    display: flex;
   justify-content: center;
}
.social-image img
{
   width: 30px;
   /* background-color: #F7F6F2; */
}

section hr
{
    color: #9a9ca1;
    margin-bottom: 10px;
}
section p
{
    color: #FAFAFA;
    text-align: center;
}